.container {
    margin-top: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content {
    width: 70%;
    border-style: solid;
    border-width: medium;
    display: flex;
    justify-content: space-around;
    align-items: center;
}